# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-policies/about-code-owners
#
# The team-developers team owns the entire repository. Any change to any path
# requires review from a member of @seatgeek/team-developers.

*       @seatgeek/team-developers
