namespace: seatgeek.auth0.operator-system
namePrefix: seatgeek.auth0.operator-
commonLabels:
  operator: seatgeek.auth0.operator
resources:
- operator-role.yaml
- operator-role-binding.yaml
- deployment.yaml
- clients_kubernetes_auth0_com.yaml
- clientgrants_kubernetes_auth0_com.yaml
- connections_kubernetes_auth0_com.yaml
- resourceservers_kubernetes_auth0_com.yaml
- tenants_kubernetes_auth0_com.yaml
- namespace.yaml
images:
- name: operator
  newName: accessible-docker-image
  newTag: latest
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization